.cadastro {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro_container {
    background-color: #F0E8DD;
    border: 2px solid #8B4C4C;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    background-color: #F0E8DD;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border: 2px solid #AD6B6B;
    padding-left: 15px;
    border-radius: 10px;
    height: 40px;
}

.login{
    display: flex;
    gap: 10px;
}
.login > a {
   color: #803D3D !important;
}
.login > a:hover{
    text-decoration:underline;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

