* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #F8F4EF;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 18px;
    color: #2a2a2a;
}

a:-webkit-any-link {
    color: #2a2a2a;
    cursor: pointer;
}

/*Cabeçalho das paginas*/
header {
    width: 100%;
    height: 10vh;
    padding: 20px 5%;
    background-color: #D1C0A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
}

/*logo */
.logo_texto {
    font-size: 46px;
}

/*Menu de navegação*/
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 10px;
}

.nav_item:hover {
    cursor: pointer;
    background-color: #F0E8DD;
}

a>img {
    width: 25px;
    color: #8B4C4C;
}

.nav_select {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    border-bottom: 2px solid #8B4C4C;
}
.nav_select>span {
    color: #803D3D;
    font-weight: 800;
}

.btn_primario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #8B4C4C;
    border: 3px solid #8B4C4C;
    font-weight: 600;
}

.btn_primario:hover {
    border: 3px solid #AD6B6B;
    padding: 5px 15px;
    cursor: pointer;
}

.btn_primario>span {
    color: #F0E8DD;
}


.btn_secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 10px;
    border: 3px solid #803D3D;
    font-weight: 600;
}
.btn_secundario>span {
    color: #803D3D;
}
.btn_secundario:hover {
    background-color: #AD6B6B;
}
.btn_secundario:hover>span {
    color: #F0E8DD;
}
.btn_secundario_selecionado{
    background-color:#AD6B6B ;
}
.btn_secundario_selecionado>span{
    color: #F0E8DD;
}


main {
    padding: 125px 0 50px 0;
    width: 100%;
    box-sizing: border-box;
}


section {
    width: 100%;
    padding: 30px 5%;
    box-sizing: border-box;
}


footer {
    width: 100%;
    height: 5vh;
    padding: 20px 5%;
    background-color: #D1C0A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer_logo_texto {
    font-size: 21px;
    font-weight: 200;
}