.login {
  height: 95vh;
  background-color: #F8F4EF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN */

.card {
  width: 40%;
  background-color: #F0E8DD;
  border: 2px solid #8B4C4C;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 80%;
}

.formulario input {
  border: 2px solid #AD6B6B;
  text-align: center;
  border-radius: 10px;
  height: 40px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* Alert */
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}