.usuario {
    display: flex;
    justify-content: center;
}

.usuario_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #F0E8DD;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #AD6B6B;
}

#b_usuario {
    color: #803D3D;
}


.ficha_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.ficha_body{
    width: 100%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.ficha_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
    background-color: #F0E8DD;
    padding: 40px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid #AD6B6B;
    margin-bottom: 5%;
}
.ficha_item > hr{
    border-color: #F9D971;
    margin: 5px 0;
}

.sem_ficha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 30vh;
    background-color: #F0E8DD;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #AD6B6B;
}

