main{
    padding: 125px 0 50px 0;
    width: 100%;
    box-sizing: border-box;
}

h1{
    margin: 0 5%;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}

section{
    width: 100%;
    padding: 30px 5%;
    box-sizing: border-box;
}

.KPIs{
    display: flex;
    justify-content: space-between;
}

.KPI_item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
     border: 2px solid #D1C0A5;
    border-radius: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info_item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 38px;
}
.info_item > img{
    width: 40px;
}

.total-poder{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 68px;
    font-weight: 900;
}

.status{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.status_item{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 70%;
}
.status_item > img {
    width: 25px;
}
.status_pontos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.graficos{
    display: flex;
    justify-content: space-between;
}
.grafico_item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    gap: 20px;
    width: 45%;
    height: 400px;
    padding: 20px;
    border: 2px solid #D1C0A5;
}
.grafico_div{
    width: 100%;
    height: 300px;
}

.detalhe{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #D1C0A5;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.detalhe_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.detalhe_item{
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.atributo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #D1C0A5;
    box-sizing: border-box;
}
.atributo_item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.atributo_bonus{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B4C4C;
    color: #FAFAFA;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
}

.equipamento-habilidade{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #D1C0A5;
}

.equipamento-habilidade_item{
    margin: 10px 0 0 20px;
}