* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FEFEFE;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 18px;
    color: #2a2a2a;
}

a:-webkit-any-link {
    color: #2a2a2a;
    cursor: pointer;
}

/*Cabeçalho das paginas*/
header {
    width: 100%;
    height: 100px;
    padding: 20px 5%;
    background-color: #D1C0A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
}

/*logo */
.logo_texto {
    font-size: 46px;
}

/*Menu de navegação*/
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}
.nav_item:hover{
    cursor: pointer;
}

.nav_item>img {
    width: 30px;
}

.nav_select{
background-color: #8B4C4C;
border-radius: 10px;
}
.nav_select > a {
    color: #FEFEFE;
}

footer{
    width: 100%;
    height: 100px;
    padding: 20px 5%;
    background-color: #D1C0A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.footer_logo_texto{
    font-size: 21px;
    font-weight: 200;
}