.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}

hr {
    border-color: #F9D971;
    background-color: #F9D971;
    width: 100%;
}  

.apresentacao_btn{
    display: flex;
    gap: 30px;
}


.motivo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.motivo_container{
    display: flex;
    justify-content: space-between;
}

.motivo_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    background-color: #F0E8DD;
    box-sizing: border-box;
}

.motivo_img{
    background-color: #803D3D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 50%;
}
.motivo_img>img{
    width: 80%;
}


.oq_precisa{
    background-color: #F0E8DD;
    display: flex;
    justify-content: space-between;
}

.oq_precisa > img{
    border-radius: 15px;
    width: 45%;
}

.oq_precisa_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}